
/* CSS for account.jsp */

body {
    font-family: FreeMono, monospace;
    /* padding: 20px; */
    background-color: rgb(244, 244, 244);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
}

.back-button {
    top: 10px;
    left: 10px;
    background-color: #007bff;
    color: #fff;
    border: inset;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 30px;
}

.row {
    display: flex;
}

.column-left {
    float: left;
    width: 25%;
    padding: 10px;
}

.column-right {
    float: left;
    width: 75%;
    height: 100vh;
    padding: 20px;
    padding-top: 30px;
    padding-left: 60px;
    /* height: 300px; */

    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.sidebar a {
    text-decoration: none; /* Remove underline */
    color: rgb(0, 44, 131); /* Set link color */
    display: block; /* Make each link a block element */
    padding: 20px; /* Adjust padding to include top and bottom */
    padding-left: 10px;
}

.sidebar hr {
    margin: 0; 
    border: none; 
    border-top: 1px solid #ccc; 
    color: black;
    /* padding: 10px 0;  */

    width: 85%;
}

.sidebar a:hover {
    background-color: rgb(255, 237, 215);
    width: 75.5%;
} 
