.product-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.product-container > div {
    background-color: azure;
    width: 20%;
    height: 20%;
}

div > img {
    width: 70%;
    height: 70%;
    background-color: white;
    
}

p {
    font-size: 14px;
    color: #999;
}

h1 {
    color: #999;
}

span {
    font-weight: 500;
    color: rgb(31, 31, 31);
}

.prodsearchbar form {
    margin-left: auto;
    width: 30%;
}