
/* CSS for shipment.jsp */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;

    padding: 3%;
}

.shipment_input {
    /* padding-top: 20px; */
    padding-bottom: 30px;
}

.vertical_spacing {
    height: 10px; 
}

.shipment_input_header {
    font-size: 17px;
    font-weight: bold;
    line-height: 2.5;
}

.shipment_input_field {
    height: 30px;
    width: 45%;
}

/* Create two equal columns that floats next to each other */
.column:first-child {
    margin-right: 30px; /* Add space between the first and second columns */
    background-color: #cacbcc;
    padding: 20px;
    padding-left: 30px;

    height: 60vh;
}

.column {
    float: left;
    width: calc(50% - 20px); /* Adjust the width to evenly divide the space between columns */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: #cacbcc;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;

    height: 60vh;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.shipment_option {
    padding: 20px;
    margin-bottom: 8px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    height: 100px;
    width: 100%;
}

/* .shipment_option:hover {
    color: white;
    background-color: #979797;
} */

.shipment_option label {
    display: inline-block;
    cursor: pointer;
}

.shipment_option input[type="checkbox"] {
    display: none;
}

.shipment_option input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    vertical-align: middle;
}

.shipment_option input[type="checkbox"]:checked + label:before {
    background-color: #000000; /* Change color when checked */
}

.fedex_logo {
    width: 90px;
    height: 50px;
    float: right;
    margin-top: -55px;
    margin-right: 30px;
}

.aramex_logo {
    width: 120px;
    height: 20px;
    float: right;
    margin-top: -40px;
    margin-right: 13px;
}

.dhl_logo {
    width: 100px;
    height: 81px;
    float: right;
    margin-top: -73px;
    margin-right: 20px;
}

.shipment_submit_button {
    float: right;
    margin-top: 40px;
    margin-right: 10px;

    width: 225px;
    height: 60px;

    font-size: large;
}

.shipment_submit_button:hover {
    color: white;
    background-color: black;
}

.shipment_confirmation_button {
    color: white;
    background-color: black;

    width: 130px;
    height: 50px;
}

.shipment_confirmation_button_two {
    color: white;
    background-color: black;

    width: 130px;
    height: 50px;

    margin-right: 1060px;
}

.shipment_confirmation_container {
    display: flex;
    justify-content: space-between;
}