/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Top Banner */
.top-banner {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 0.6em 0;
    font-size: 0.9em;
}

/* Header */

.logo {
    cursor: pointer;
    height: 100px; /* Adjust logo size as necessary */
    flex-shrink: 0;
}

/* Header */
header {
    background-color: #fff;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2; /* Give navbar more space to allow centering */
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0; /* Reset margin to ensure centering */
    align-items: center; 
}

.navbar li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 8px 16px;
}

.navbar li a:hover {
    color: #007bff;
}

/* Icons and Search Bar */
.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Cart and Account Icons */
.cart-icon,
.account-icon {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

/* Dropdown Content for Account Menu */
.account-menu {
    position: relative;
}

.account-menu:hover .dropdown-content{
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    right: 0;
    min-width: 160px;
    z-index: 100;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f6f6f6;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa;
    color: #6c757d;
    font-size: 0.75em;
}

.welcome-message {
    position: absolute;
    top: -30px; /* Adjust this as needed */
    right: 0;
    background: white;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 100;
}


footer p {
    margin: 5px 0;
}

.attribution {
    font-size: 0.65em;
}

.attribution a {
    color: inherit;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

.attribution span {
    margin: 0 5px;
}

/* Hero Section */
.hero {
    position: relative;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    padding: 200px 20px;
    background: url('../images/hero.jpeg') no-repeat center center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for better readability */
    z-index: -1;
}

/* Hero Text with Background Overlay */
.hero h1, .hero p {
    background: rgba(0, 0, 0, 0.7); /* Background for text readability */
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: block; /* Full width */
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem; /* Space between the title and subtitle */
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem; /* Space between text and button */
}

/* Shop Now Button */
.hero a.hero-button {
    padding: 1em 2em;
    font-size: 1.25rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: block; /* Adjust display for proper padding */
    font-weight: bold; /* Make the text weight bold */
    margin-bottom: 1rem; /* Adjust as needed for space below button */
}

.hero a.hero-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


/* Newsletter Sign-Up */
.newsletter-signup {
    background-color: #f8f9fa;
    padding: 2em;
    text-align: center;
    margin: 2em auto;
    border-radius: 8px;
    max-width: 600px;
}


.newsletter-signup h2 {
    color: #333;
    margin-bottom: 1em;
}


.newsletter-signup p {
    color: #555;
    margin-bottom: 2em;
}


.newsletter-signup form {
    display: flex;
    justify-content: center;
    gap: 1em;
}


.newsletter-signup input[type="email"] {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
    flex-grow: 1;
}


.newsletter-signup button {
    padding: 1em 1.5em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.newsletter-signup button:hover {
    background-color: #0056b3;
}

    /* Responsive Adjustments for smaller screens */
    @media (max-width: 768px) {
        .top-banner {
            padding: 0.3em 0; /* Adjusted padding for smaller screens */
        }

        header {
            padding: 0.5em 1em; /* Adjusted padding for smaller screens */
        }

        .logo {
            height: 60px; /* Smaller logo for smaller screens */
        }

        .navbar {
            flex-direction: column; /* Stack the navbar items vertically */
            align-items: flex-start;
            margin-left: 0; /* Remove margin to align with the edge */
        }

        .navbar a,
        .cart-icon,
        .account-icon {
            margin: 10px 0; /* Adjusted margin for stacked items */
            font-size: 0.9em; /* Smaller font size for smaller screens */
        }

        .search-bar {
            order: -1; /* Moves the search bar to the top */
            padding: 0.5em 1em;
            width: 100%;
            margin-top: 10px;
        }

        .search-bar input[type="text"] {
            padding: 0.25em 0.5em; /* Adjusted padding for the search bar */
        }

        .cart-icon,
        .account-icon {
            height: 30px; /* Smaller icons for smaller screens */
            width: 30px;
        }

        .hero {
            padding: 100px 20px; /* Smaller padding on mobile */
        }
        .hero h1 {
            font-size: 2.5rem; /* Smaller font size on mobile */
        }
        .hero p {
            font-size: 1rem; /* Smaller font size on mobile */
        }
        .hero a.hero-button {
            padding: 10px 20px; /* Smaller padding on mobile */
            font-size: 1rem; /* Smaller font size on mobile */
        }

        .newsletter-signup {
            padding: 1em; /* Smaller padding for the newsletter section */
            margin: 1em auto;
        }

        .newsletter-signup form {
            flex-direction: column; /* Stack form elements vertically */
        }

        .newsletter-signup input[type="email"],
        .newsletter-signup button {
            width: 100%; /* Full width for form elements */
            margin-bottom: 10px; /* Space between stacked elements */
        }
    }


/* Continue with your existing styles and add these new ones */

.header-logout {
    display: flex;
    justify-content: center; /* Center the logo */
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* For absolute positioning of the login button */
}

.logo-container-logout img {
    max-width: 120px; /* Adjust as needed */
    cursor: pointer;
}

.login-container-logout {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%); /* Center the login button vertically */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.logout-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 160px); /* Adjust based on header and footer */
    padding: 0 20px; /* Padding on smaller screens */
}

.logout-container {
    background-color: #ffffff;
    padding: 40px;
    margin-top: -8rem; /* Adjust as needed to pull card up */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px; /* Maximum width of the card */
    text-align: center;
}

.footer-logout {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; /* Ensure it spans the full width */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Ensure your media queries are included to handle responsiveness */