/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column; /* Ensures a vertical flow */
    align-items: center;
}

/* Header styling */
header {
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between; /* Spaces out logo and button */
    align-items: center; /* Vertically centers items */
    background-color: #ffffff;
}

.logo {
    height: 60px; /* Adjust based on your logo's size */
    cursor: pointer;
}

/* Style for the 'Back to Page' button */
.login-button {
    /* Positioning removed to allow flex in header */
}

a.button-link {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

/* Centering container for the form */
.center-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Full width to center content horizontally */
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px; /* Adjust based on preferred width */
}

/* Style for the header section within the form */
.header {
    margin-bottom: 20px; /* Space between header and form fields */
}

.header h1 {
    text-align: center; /* Explicitly center the header text */
    margin: 0 auto; /* Remove any default margin */
    width: 100%; /* Ensure it spans the full width of its container */
}


/* Form styling */
form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Enhanced submit button styling for a modern look */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
